#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	du -sh "$@"
}

# cd into directory and ls 
cl() {
       	cd "$@" && ls;
 }

# Copy files from my computer to the openu
function tou() {
	scp -o ProxyCommand="ssh -W %h:%p openu" "$@" orlev@my.hpc.pub.lan:~/
}

# Copy files from openu to the my computer
function fromu() {
	scp -o ProxyCommand="ssh -W %h:%p openu"  orlev@my.hpc.pub.lan:~/"$@"  ~/Desktop/
}

