#!/usr/bin/env bash

source "$HOME/.constants"

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# Coloring 
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Make shorthands for common flags
alias ll="ls -lh"

# Save a lot of typing for common commands
alias gs="git status"
alias gc="git commit"
alias v="vim"

# Save you from mistyping
alias sl=ls

# Alias can be composed
alias l='ls -CF'
alias la="ls -A"
alias ll='ls -alF'
alias lla="la -l"

# shortcut t pen jupyter notebook and lab
alias jn="jupyter notebook 2> /dev/null &"
alias jl="jupyter lab 2> /dev/null &"

# Instead of "cat"
alias cat="batcat"
alias tree='tree -C'

# present images only in kitty
if [ -n "$KITTY_WINDOW_ID" ]; then
  alias icat='kitty +kitten icat'
fi

# color rgrep
alias rgrep="rgrep --color"

# text editor alias
alias te="gnome-text-editor"

# Nvim 
alias n="nvim"

# Lazygit
alias lg="lazygit"

# Camera recording aliases
alias cst="$PATH_CUSTOM_SCRIPTS_CONFIG/start_camera_recording.sh"
alias csp="$PATH_CUSTOM_SCRIPTS_CONFIG/stop_camera_recording.sh"

# fd finder
alias fd=fdfind
