#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	du -sh "$@"
}

# cd into directory and ls 
cl() {
       	cd "$@" && ls;
 }

# Copy files from my computer to the openu
function tou() {
	scp -o ProxyCommand="ssh -W %h:%p openu" "$@" orlev@my.hpc.pub.lan:~/
}

# Copy files from openu to the my computer
function fromu() {
	scp -o ProxyCommand="ssh -W %h:%p openu"  orlev@my.hpc.pub.lan:"$@"  ~/Downloads/
}

# # Use y as YAZI, also allow to change CWD with 'q'
# function y() {
# 	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
# 	yazi "$@" --cwd-file="$tmp"
# 	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
# 		builtin cd -- "$cwd"
# 	fi
# 	rm -f -- "$tmp"
# }
