[user]
	email = orlevitas@gmail.com
	name = Or Levitas

[push]
	default = simple
  
[core]
	editor = nvim
  pager = delta

[alias]
	bsu = branch --set-upstream-to=origin/master
	dog = log --all --decorate --oneline --graph

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3
    tool = meld

[diff]
    colorMoved = default
    tool = meld

[difftool]
    prompt = false 

[mergetool]
    prompt = false

[mergetool "meld"]
    path = /usr/bin/meld
    trustExitCode = true
    keepBackup = false
    
[credential]
	helper = store

[http]
	postBuffer = 524288000
